.createPostPage {
  width: 100%;
  height: calc(100vh - 80px);
  display: grid;
  place-items: center;
}

.cpContainer {
  width: 40rem;
  height: auto;
  padding: 20px;
  background-color: rgb(8, 116, 204);
  border-radius: 12px;
  color: white;
  display: flex;
  flex-direction: column;
}

.cpContainer h1 {
  text-align: center;
}

.cpContainer label {
  font-size: 25px;
}
.cpContainer .inputGp {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.ck-editor__editable_inline {
  min-height: 20rem;
  color: black;
}
.inputGp input,
.inputGp textarea {
  font-size: 18px;
  border: none;
  border-radius: 2px;
  padding: 5px;
}

.inputGp input {
  height: 40px;
}
.inputGp textarea {
  height: 150px;
}

.cpContainer button {
  background-color: #065799;
  margin-top: 20px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  color: white;
  transition: background-color 0.3s ease-in-out;
}
.submitBtn:hover {
  background-color: #4895d5;
  cursor: pointer;
}
input,
textarea {
  margin-top: 5px;
}

@media (min-width: 200px) and (max-width: 700px) {
  .homePage .post,
  .cpContainer {
    max-width: 90vw;
    margin: 10px;
    padding: 10px;
  }
  .postTextContainer {
    padding-right: 5px;
  }
  .postTextContainer::-webkit-scrollbar {
    width: 13px;
  }
  .inputGp {
    max-width: 90vw;
  }
}
